* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    background-color: #ffdeba;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;

}

.left-side, .right-side {
    width: 50%;
}

.left-side {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.name-box {
    width: 100%;
    text-align: center;
}

.name-box h1 {
    text-transform: uppercase;
    font-family: "Oxygen", sans-serif;
    font-size: 2.5em;
    font-weight: 500;
}

.pronoun-box {
    width: 50%;
    margin-top: 30px;
    text-align: center;
}

.pronoun-box h3 {
    text-transform: uppercase;
    font-family: "Oxygen", sans-serif;
    font-size: 1.5em;
    font-weight: 500;
}

.image-container {
    width: 90%;
    margin-top: 50px;
}

.image-container img {
    width: 100%;
    border-radius: 2.8125em;
}

.text-box {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.text-box h2 {
    font-family: "Oxygen", sans-serif;
    text-transform: uppercase;
}

.right-side {
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}

.about-box {
    border: 3px solid red;
    width: 50%;
    height: 35px;
}


.style-box {
    border: 3px solid black;
    width: 70%;
    height: 35px;
}

.style-text-box {
    border: 3px solid gray;
    width: 100%;
    height: 80px;
}

.education-box {
    border: 3px solid green;
    width: 50%;
    height: 35px;
}

.year-box {
    border: 3px solid black;
    width: 25%;
    height: 35px;
}

.degree-box {
    border: 3px solid blue;
    width: 100%;
    height: 40px;
}

.university-box {
    border: 3px solid black;
    width: 50%;
    height: 40px;

}

.award-box {
   border: 3px solid green;
   width: 60%;
   height: 40px;
}

.experience-box {
    border: 3px solid blue;
    width: 50%;
    height: 35px;
}

.experience-year-box {
    border: 3px solid black;
    width: 25%;
    height: 35px;
}

.experience-degree-box {
    border: 3px solid pink;
    width: 55%;
    height: 40px;
}

.experience-text-box {
    border: 3px solid red;
    width: 60%;
    height: 35px;
}

.button-box {
    border: 3px solid cyan;
    width: 85%;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.button-box button {
    width: 150px;
    height: 40px;
    margin-right: 5px;
    border-radius: 8px;
    justify-content: flex-end;

}



