* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #ffdeba;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;

}

.left-side, .right-side {
    width: 50%;
    height: 100%;
}

.left-side {
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 40px;

}

.name-box {
    width: 100%;
    text-align: center;
}

.name-box h1 {
    text-transform: uppercase;
    font-family: "Oxygen", sans-serif;
    font-size: 2.5em;
    font-weight: 500;
}

.pronoun-box {
    width: 50%;
    margin-top: 30px;
    text-align: center;
}

.pronoun-box h3 {
    text-transform: uppercase;
    font-family: "Oxygen", sans-serif;
    font-size: 1.5em;
    font-weight: 500;
}

.image-container {
    width: 90%;
    margin-top: 50px;
}

.image-container img {
    width: 100%;
    border-radius: 2.8125em;
}

.text-box {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.text-box h2 {
    font-family: "Oxygen", sans-serif;
    text-transform: uppercase;
}

.right-side {
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 10px;
    position: relative;
    top: 50px;
    
}

.about-box {
    /* border: 3px solid red; */
    width: 50%;
}

.about-box h2 {
    text-transform: uppercase;
    font-family: "Oxygen", sans-serif;
}


.style-box {
    /* border: 3px solid black; */
    width: 70%;
}

.style-box h3 {
    font-weight: 500;
    font-family: "Oxygen", sans-serif;
}

.style-text-box {
    /* border: 3px solid gray; */
    width: 100%;
    height: 80px;
}

.style-text-box p {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
}

.education-box {
    /* border: 3px solid green; */
    width: 50%;
}

.education-box h2 {
    font-family: "Oxygen", sans-serif;
    text-transform: uppercase;
}

.year-box {
    /* border: 3px solid black; */
    width: 15%;
}

.year-box p {
    font-family: "Oxygen", sans-serif;
    font-weight: 500;
}

.degree-box {
    /* border: 3px solid blue; */
    width: 100%;
}

.degree-box h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Oxygen", sans-serif;
}

.university-box {
    /* border: 3px solid black; */
    width: 50%;

}

.university-box p {
    font-family: "Oxygen", sans-serif;
    font-weight: 200;
}

.award-box {
   /* border: 3px solid green; */
   width: 60%;
   height: 40px;
}

.award-box p {
    font-family: "Oxygen", sans-serif;
    font-weight: 200;
}

.experience-box {
    /* border: 3px solid blue; */
    width: 50%;
}

.experience-box h3 {
    font-family: "Oxygen", sans-serif;
    text-transform: uppercase;
}

.experience-year-box {
    /* border: 3px solid black; */
    width: 15%;
}

.experience-year-box p {
    font-family: "Oxygen", sans-serif;
    font-weight: 500;
}

.experience-degree-box {
    /* border: 3px solid pink; */
    width: 55%;
}

.experience-degree-box h3 {
    text-transform: uppercase;
    font-family: "Oxygen", sans-serif;
    font-weight: 500;
}

.experience-text-box {
    /* border: 3px solid red; */
    width: 60%;
}

.experience-text-box p {
    font-family: "Oxygen", sans-serif;
    font-weight: 200;   
}

.button-box {
    /* border: 3px solid cyan; */
    width: 80%;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 115px;

}

.button-box button {
    width: 30%;
    height: 40px;
    border: 2px solid black;
    border-radius: 8px;
    justify-content: flex-end;
    background-color: #ffdeba;
    text-transform: uppercase;
    font-family: "Oxygen", sans-serif;

}



